@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import "variables";

a {
          text-decoration: none;
}
body {
          font-family: Kumbh Sans;
}
button {
          font-family: Kumbh Sans;
}
.container {
          margin: 0 10%;
}

header {

          .logo {
                    cursor: pointer;
          }

          display: grid;
          grid-template-columns: 150px auto 150px;
          align-items: center;
          border-bottom: 1px solid $grayish-blue;

          .menu {
                    display: none;
          }

          .user-picture {
                    border: 2px solid transparent;
                    border-radius: 50px;
                    &:hover {
                              border: 2px solid $orange;
                    }
          }
}

nav {
          display: flex;
          justify-content: space-between;
          min-width: 350px;
          margin-left: 10px;
          width: 60%;
          a {
                    text-decoration: none;
                    color: $grayish-blue;
                    display: inline-block;
                    padding: 30px 0;
                    border-bottom: 3px solid transparent;
                    text-align: center;
                    &:hover {
                              color: $dark-grayish-blue;
                              border-bottom: 3px solid $orange;
                    }
          }
}
.menu-mobile {
          display: none;
}
.user {
          display: flex;
          align-items: center;
          justify-content: space-around;
          position: relative;
          .user-picture {
                    width: 50px;
          }
}

.orange {
          width: 100%;
          min-width: 150px;
          background-color: $orange;
          padding: 15px 0;
          border-radius: 5px;
          border: 0px;
          color: $white;
          cursor: pointer;
          &:active {
                    background-color: $parle-orange;
          }
}

.car {
          position: relative;
          .car-number {
                    background-color: $orange;
                    text-align: center;
                    position: absolute;
                    top: -8px;
                    right: -3px;
                    font-size: 0.7rem;
                    border-radius: 10px;
                    color: white;
                    padding: 0 5px;
                    &.hide {
                              display: none;
                    }
          }
}
.car-info {
          z-index: 100;
          display: none;
          position: absolute;
          background-color: $white;
          width: 300px;
          right: -150px;
          top: 50px;
          box-shadow: 0 0 5px $black;
          &.active {
                    display: inline-block;
          }
          > *:not(button) {
                    padding: 0 20px;
          }
          h2 {
                    font-size: 1rem;
                    margin: 0px;
                    padding: 15px 20px;
                    border-bottom: 1px solid $grayish-blue;
          }
          p {
                    display: none;
                    text-align: center;
                    margin: 50px 0;
          }
          .orange {
                    width: calc(100% - 40px);
                    box-sizing: border-box;
                    position: relative;
                    left: 20px;
                    right: 20px;
                    margin: 0 0 20px 0;
          }
          .car-products {
                    .car-product {
                              display: grid;
                              grid-template-columns: 2fr 7fr 1fr;
                              align-items: center;
                              gap: 5px;
                              padding: 15px 0;
                              .car-product-icon {
                                        width: 100%;
                                        border-radius: 10px;
                              }
                              .car-product-delete {
                                        text-align: right;
                                        cursor: pointer;
                              }
                    }
                    .car-products-checkout {
                    }
                    &.empty {
                              height: 100px;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                    }
          }
}

.car-info.empty {
          p {
                    display: block;
          }
          button {
                    display: none;
          }
}

.car-info.mobile {
          box-sizing: border-box;
          width: 300px;
          right: 10px;
          left: 10px;
          top: 70px;
          width: calc(100% - 20px);
          box-shadow: 0 0 10px $black;
          &.active {
                    display: inline-block;
          }
}

main {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 100px;
          margin-top: 30px;
}

.product-img {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          .first {
                    img {
                              width: 100%;
                    }
          }
          .carrusel {
                    margin-top: 10px;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: 85px;
                    gap: 7%;
                    .carrusel-img {
                              outline: 4px solid transparent;
                              background-size: 100% 100%;
                              border-radius: 20px;
                              cursor: pointer;
                              background-position: center;
                              height: 70px;
                              
                              &:hover {
                                        filter: brightness(120%) contrast(80%);
                                        }
                              &.selected {
                                        outline: 4px solid $orange;
                                        filter: brightness(120%) contrast(80%);
                              }
                              img {
                                        width: 100%;
                                        box-sizing: border-box;
                              }
                    }
          }
          img {
                    border-radius: 20px;
                    cursor: pointer;
          }
          .gallery-arrows {
                    display: none;
          }
}

.product-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .product-info-company {
                    color: $orange;
                    text-transform: uppercase;
          }
          .product-info-title {
                    font-size: 3rem;
          }
          .product-info-description {
                    line-height: 1.5rem;
          }
          .product-info-price {
                    font-size: 2rem;
                    font-weight: bold;
                    vertical-align: middle;
          }
          .product-info-discount {
                    color: $orange;
                    background-color: $parle-orange;
                    display: inline-block;
                    padding: 4px;
                    vertical-align: middle;
                    margin-left: 10px;
                    font-weight: bold;
          }
          .product-info-old-price {
                    color: $grayish-blue;
                    font-weight: bold;
                    text-decoration: line-through;
                    margin-top: 8px;
          }
          .product-info-btns {
                    display: flex;
                    margin-top: 20px;
                    gap: 10px;
          }
          .quantity {
                    user-select: none;
                    display: flex;
                    .quantity-item {
                              display: inline-block;
                              background-color: $light-grayish-blue;
                              padding: 10px;
                              width: 30px;
                              text-align: center;
                              font-weight: bold;
                              &.plus {
                                        border-radius: 0 10px 10px 0;
                              }
                              &.less {
                                        border-radius: 10px 0 0 10px;
                              }
                              &.btn {
                                        color: $orange;
                                        cursor: pointer;
                              }
                    }
          }
          
}

.product-info-btns-checkout {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
                    filter: brightness(100);
                    padding: 0 10px;
          }
}
.gallery {
          display: none;
          height: 100vh;
          width: 100%;
          position: fixed;
          top: 0;
          left: 0;
          background-color: $black;
          .gallery-carrusel {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;
                    width: 500px;
                    height: 100%;
                    margin: auto;
          }
          .gallery-close {
                    text-align: right;
                    width: 100%;
                    padding-bottom: 10px;
                    img {
                              cursor: pointer;
                              filter: invert(100%) sepia(10%) saturate(1000%);
                    }
          }
}
.gallery-arrows {
          display: flex;
          justify-content: space-between;
          position: absolute;
          width: 112%;
          height: 75px;
          top: 0;
          bottom: 0;
          left: -6%;
          margin: auto;
          .gallery-arrow {
                    width: 35px;
                    font-weight: bold;
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 20px;
                    display: flex;
                    border-radius: 50px;
                    user-select: none;
                    cursor: pointer;
                    
          }
          .gallery-arrow-orange {
                    display: none;
          }
}
footer {
          margin-top: 30px;          
          .attribution {  
                    font-size: 11px; text-align: center; 
                    a { 
                              color: hsl(228, 45%, 44%); 
                    }
          }
}

@media (max-width:1000px) {
          .container {
                    margin: 0 5%;
          }
          main {
                    gap: 40px
          }
          .product-info {
                    .product-info-title {
                              font-size: 2rem;
                    }
          }
}

@media (max-width:720px) {
          header {
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 1fr 1fr;
          }
          nav {
                    grid-row:2/3;
                    grid-column: 1/3;
                    width: 100%;
          }
          main {
                    display: flex;
                    flex-direction: column;
          }
          .gallery .gallery-carrusel {
                    width: 450px;
          }
}

@media (max-width:375px) {
          body {
                    margin: 0;
          }
          .container {
                    margin: 0;
          }
          header {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 10px;
                    border: 0;
                    .menu {
                              display: inline-block;
                              cursor: pointer;
                    }
                    .user {
                              width: 120px;
                    }
          }
          nav {
                    display: none;
          }
          main {
                    margin: 0;
                    gap: 20px;
          }
          .product-img {
                    .carrusel {
                              display: none;
                    }
                    img {
                              border-radius: 0;
                    }
                    .gallery-arrows {
                              display: flex;
                    }
          }
          .product-info {
                    margin: 0 15px;
                    display: block;
                    .product-info-btns {
                              flex-wrap: wrap;
                    }
                    .quantity {
                              width: 100%;
                              .quantity-item {
                                        width: 100%;
                              }
                    }
                    .product-info-pd {
                              width: max-content;
                              display: inline;
                    }
                    .product-info-old-price {
                              display: inline;
                              float: right;
                    }
                    .product-info-title {
                              margin: 10px 0;
                    }
                    
          }
          .gallery-arrows {
                    width: 90%;
                    left: 0;
                    right: 0;
                    height: min-content;
                    .gallery-arrow {
                              padding: 10px;
                              width: 18px;
                    }
          }
          .user {
          }
          .car {
                    .car-info {
                              left: 10px;
                              right: 10px;
                              top: 70px;
                              width: calc(100% - 20px);
                              box-sizing: border-box;
                    }
          }
          .car-info.mobile {
                    display: none;
                    border-radius: 20px;
                    &.active {
                              display: inline-block;
                    }
          }
          .gallery {
                    display: none !important;
          }
          .menu-mobile {
                    position: fixed;
                    top: 0;
                    left: 0;
                    background-color: $black;
                    width: 100%;
                    height: 100vh;
                    .menu-mobile-background {
                              width: 50%;
                              height: 100%;
                              background-color: white;
                              padding: 20px 0 0 20px;
                              .menu-mobile-close {
                                        margin-bottom: 20px;
                                        cursor: pointer;
                              }
                              .menu-mobile-item {
                                        padding: 15px 0;
                                        cursor: pointer;
                                        font-weight: bold;
                                        color: $dark-grayish-blue;
                                        &:hover {
                                                  color: black;
                                        }
                              }
                    }
          }
}